// Colours
$bg_colour: #fff;
$brand_primary: rgb(207, 252, 124);
$brand_secondary: orange;
$contrast_colour: rgba(250, 50, 37, 1);
$contrast_dark: rgba(202, 2, 2, 1);
$dark_grey: #292929;
$middle_grey: #b6b6b6;
$bg_grey: #f6f6f6;
$light_grey: #e0e0e0;
$text_colour: #343434;
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat";
	outline: 0;
	text-decoration: none;
	border: 0;
	color: $text_colour;
	font-weight: 100;
	list-style-type: none;
}

section.overlay {
	display: none;
}

.active {
	section.overlay {
		display: block;
		z-index: 1;
		width: 100%;
		background-color: #151515;

		li#toggle {
			align-self: center;
			padding: 14px 20px;
		}
	}

	section.footer {
		height: auto;
	}
}

.header_image {
	background-image: url(../images/acai.png);
	height: 550px;
	background-size: cover;
}

.icon svg {
	width: 40px;
	height: 40px;
	fill: #fff;
}

.f1.icon svg {
	width: 70px;
	height: 70px;
}

.social .icon svg {
	width: 30px;
	height: 30px;
}

.calc_buttons .icon svg {
	width: 40px;
	height: 40px;
	fill: #000;
}

.nav {
	ul {
		text-decoration: none;
		list-style: none;
		width: 100%;
		font-weight: 400;
		display: grid;
		grid-template-rows: 50px;
		grid-template-columns: 50px auto 250px;
		grid-template-areas: 'toggle menu title';
		@media (min-width: 580px) {
			grid-template-columns: 50px 250px auto;
			grid-template-areas: 'toggle  title menu';
		}
	}

	li {
		display: flex;
		align-self: center;
	}

	li:first-child {
		grid-area: toggle;
		justify-self: center;
		align-self: end;
		color: #fff;
		cursor: pointer;
	}
	li:nth-child(2) {
		grid-area: title;
		justify-self: end;
		padding-right: 10px;
		h2 {
			color: #fff;
		}
		@media (min-width: 580px) {
			justify-self: start;
			padding-left: 10px;
			padding-right: 0px;
		}
	}
	li:last-child {
		grid-area: menu;
		display: none;

		a {
			padding-right: 10px;
			color: #fff;
		}

		a:nth-child(3) {
			display: none;
			@media (min-width: 768px) {
				display: inline;
			}
		}

		@media (min-width: 580px) {
			display: inline;
			justify-self: end;
			padding-right: 10px;
		}
	}
}

.header {
	h1 {
		text-align: center;
		font-weight: 400;
		color: #fff;
		margin-top: 100px;
		font-size: 45px;
		text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
	}
}

.callout {
	transform: skewY(-5deg);
	background-color: #fb7615;
	height: 550px;
	margin-top: -56px;

	.wrapper_1 {
		max-width: 800px;
		margin: auto;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 300px auto;
		grid-template-areas: 'calc' 'title_1';

		@media (min-width: 580px) {
			grid-template-columns: 242px auto;
			grid-template-rows: auto;
			grid-template-areas: 'calc title_1';
		}
	}

	.title_1 {
		grid-area: title_1;
		text-align: center;
		transform: skewY(5deg);
		font-size: 40px;

		@media (min-width: 580px) {
			padding-top: 50px;
		}

		h3 {
			color: #fff;
			padding-top: 40px;
		}
	}
}

.callout_1 {
	@media (min-width: 580px) {
		height: 350px;
	}
}

div.calc {
	grid-area: calc;
	height: 335px;
	width: 220px;
	background-color: #f1f1f6;
	justify-self: center;
	margin-top: -80px;
	transform: skewY(5deg);
	border-radius: 15px;
	border: 1px solid #b6b6b6;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);

	@media (min-width: 580px) {
		position: absolute;
		margin-left: 20px;
	}

	div.display {
		border: 1px solid $middle_grey;
		background-color: #fff;
		border-radius: 6px;
		margin: 15px 10px 4px;
		padding: 0px 10px;
		text-align: right;
		height: 63px;
		line-height: 63px;
		font-size: 25px;
	}

	div.name {
		text-align: right;
		padding-right: 10px;
		padding-bottom: 5px;
		font-size: 12px;
	}

	div.calc_buttons {
		margin: 10px;
		display: grid;
		grid-template-columns: repeat(3, 63px);
		grid-template-rows: repeat(2, 63px);
		grid-template-areas: 'staff location food'
			'compare find predict';
		grid-gap: 5px;

		div {
			text-align: center;
			border: 1px solid #b6b6b6;
			display: flex;
			background-color: #fff;
			justify-content: center;
			align-items: center;
			border-radius: 5px;
			cursor: pointer;
			/* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
		}
	}

	div:first-child {
		grid-area: staff;
	}
	div:nth-child(2) {
		grid-area: location;
	}
	div:nth-child(3) {
		grid-area: food;
	}
	div:nth-child(4) {
		grid-area: compare;
	}
	div:nth-child(5) {
		grid-area: find;
	}
	div:last-child {
		grid-area: predict;
	}
}

div.equals {
	display: flex;
	height: 61px;
	width: 129px;
	border: 1px solid #b6b6b6;
	border-radius: 5px;
	float: right;
	margin-right: 10px;
	background-color: #fff;
	cursor: pointer;

	&:hover {
		background-color: #4fd040;
		border: 1px solid #fff;

		p {
			color: #fff;
		}
	}

	p {
		align-self: center;
		width: 100%;
		text-align: center;
		font-weight: 200;
	}

	p.top_calc {
		font-size: 50px;
	}
}

.list {
	padding: 150px 0px 200px;
	div {
		max-width: 800px;
		margin: auto;
		h2 {
			max-width: 475px;
			margin: auto;
			font-weight: 100;
			padding: 60px 10px 30px;
			font-size: 28px;
		}
		ul {
			max-width: 470px;
			margin: auto;
			padding: 0px 10px;
		}
		li {
			margin: 15px 0px;
			list-style-type: none;
			.ol {
				width: 30px;
				height: 30px;
				margin-left: 40px;
				border: 1px solid #b6b6b6;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				float: left;
			}
			.list_text {
				line-height: 32px;
				padding-left: 20px;
			}
		}
	}
}

.sales_funnel {
	background-color: #f73240;
}

.funnel {
	display: grid;
	grid-template-columns: auto 205px;
	grid-auto-rows: auto;
	grid-template-areas: 'title funnel';
	max-width: 800px;
	margin: auto;
	padding: 0px 10px;
	min-height: 105vh;

	@media (min-width: 768px) {
		grid-template-columns: auto 280px;
	}

	h3 {
		font-size: 30px;
		@media (min-width: 768px) {
			font-size: 40px;
		}
	}

	h3,
	li,
	p {
		color: #fff;
	}

	p {
		padding: 20px 0px;
	}

	div.funnel_text {
		grid-area: title;
		padding: 20px 0px 20px 20px;
		align-self: center;
	}

	div.funnel_block {
		grid-area: funnel;
		display: flex;
		align-items: center;
	}

	div.funnel_flow {
		display: grid;
		grid-template-columns: 50px auto 50px;
		grid-template-rows: auto;
		grid-template-areas: 'left list right';
		max-width: 280px;

		ul.funnel_list {
			grid-area: list;
			width: 105px;
			@media (min-width: 768px) {
				width: 180px;
			}
		}

		li {
			list-style-type: none;
			text-align: center;
			line-height: 40px;
		}

		div.left {
			grid-area: left;
			div.line {
				transform: skewY(70deg);
			}
		}
		div.right {
			grid-area: right;
			div.line {
				transform: skewY(-70deg);
			}
		}
	}

	div.funnel_icon {
		display: grid;
		grid-template-columns: 50px auto 50px;
		grid-template-rows: auto;
		grid-template-areas: 'left f1 right';
		max-width: 280px;

		li {
			list-style-type: none;
			text-align: center;
			line-height: 40px;
		}
	}

	div.line {
		top: 80px;
		border-bottom: 5px solid #fff;
		display: block;
		position: relative;
	}
}

.topic {
	div.funnel {
		background-color: transparent;
		grid-template-columns: auto 100px;

		@media (min-width: 580px) {
			grid-template-columns: auto 205px;
		}

		@media (min-width: 768px) {
			grid-template-columns: auto 280px;
		}

		div.funnel_flow {
			@media (max-width: 580px) {
				grid-template-columns: 0px auto 0px;
			}
		}

		div.funnel_icon {
			@media (max-width: 580px) {
				grid-template-columns: 0px 100px 0px;
			}
		}

		ul.text {
			padding-left: 30px;

			li {
				padding: 10px 0px;
				list-style-type: disc;
			}
		}

		ul.rows {
			display: grid;
			grid-template-rows: auto 150px auto;
			grid-template-areas: 'top''middle''bottom';
		}

		li.top {
			grid-area: top;
		}
		li.middle {
			grid-area: middle;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		li.bottom {
			grid-area: bottom;
		}

		div.line {
			top: 0px;
			border: none;
			border-right: 2px solid #fff;
			height: 100%;
			width: 50%;
		}
	}
}

.marketing {
	background-color: #03d4c2;
}
.dev {
	background-color: #774ef9;
}
.touch {
	background-color: #4fd040;
}

.inform {
	h3 {
		text-align: center;
		max-width: 458px;
		margin: auto;
		font-weight: 100;
		padding: 60px 10px 30px;
		font-size: 28px;
	}

	p {
		max-width: 600px;
		margin: auto;
		font-weight: 100;
		padding: 30px 10px 230px;
		font-size: 20px;
		text-align: center;
		line-height: 30px;
	}
}

.callout_2 {
	height: auto;
	padding-bottom: 100px;

	div.wrapper {
		transform: skewY(5deg);
		max-width: 800px;
		margin: auto;
		padding: 20px;
	}

	h3 {
		text-align: center;
		max-width: 458px;
		margin: auto;
		font-weight: 100;
		padding: 140px 10px 150px;
		font-size: 40px;
		color: #fff;
	}
}

.knowledge {
	max-width: 800px;
	margin: auto;
	padding: 20px;
	position: relative;
	top: -150px;

	ul.cards {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(4, auto);
		grid-gap: 20px;

		li {
			width: 100%;
			height: 250px;
			border: 1px solid #fff;
			border-radius: 5px;
			position: relative;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
		}

		img {
			height: 100%;
			width: 100%;
			position: absolute;
			border-radius: 4px;
		}

		div.wrapper {
			background-color: #fff;
			width: 100%;
			position: absolute;
			bottom: 0px;
			border-radius: 0px 0px 4px 4px;
		}

		h4 {
			padding: 5px;
		}

		@media (min-width: 580px) {
			grid-template-columns: repeat(4, auto);
			grid-template-rows: repeat(2, auto);

			li {
				height: 200px;
			}
		}

		@media (min-width: 768px) {
			li {
				height: 270px;
			}
		}
	}
}

.contact {
	transform: skewY(-5deg);
	background-color: #f6f6f6;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: -56px;

	div.wrapper {
		transform: skewY(5deg);
		max-width: 800px;
		margin: auto;
		padding: 70px 20px;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 'link''text';
		grid-gap: 20px;

		h3 {
			font-size: 30px;
		}

		a {
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			color: #000;
			font-weight: 400;
			border: 1px solid #b6b6b6;
			box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
			margin: auto;

			&:hover {
				background-color: #fb7615;
				color: #fff;
				border: 1px solid #fb7615;
			}

			@media (max-width: 580px) {
				margin-bottom: 30px;
			}
		}

		div:first-child {
			grid-area: text;
		}

		div:last-child {
			grid-area: link;
			display: flex;
			align-items: center;
		}

		@media (min-width: 580px) {
			grid-template-columns: auto auto;
			grid-template-areas: 'link text';
		}
	}
}

.callout_3 {
	margin-top: 50px;
	margin-bottom: -56px;
	height: 625px;
	border-bottom: 1px solid #e60702;
	@media (min-width: 580px) {
		height: 350px;
	}
}

.work_form {
	padding: 130px 0px;
	color: $dark_grey;
	border: 1px solid $light_grey;
	background-color: rgb(246, 246, 246);

	h3 {
		text-align: center;
		font-weight: 100;
		padding: 60px 0px 30px;
		font-size: 28px;
	}
	.form_name {
		grid-area: form_name;
	}
	.form_company {
		grid-area: form_company;
	}
	.form_interest {
		grid-area: form_interest;
	}
	.form_email {
		grid-area: form_email;
	}
	.form_phone {
		grid-area: form_phone;
	}
	.form_desire {
		grid-area: form_desire;
	}
	.form_objective {
		grid-area: form_objective;
	}
	.form_url {
		grid-area: form_url;
	}
	.form_optin {
		grid-area: form_optin;
	}
	.form_button {
		grid-area: form_button;
	}

	form {
		max-width: 365px;
		margin: auto;
		display: grid;
		grid-auto-columns: auto;
		grid-auto-rows: auto;
		grid-template-areas: 'form_interest' 'form_name'
			'form_company' 'form_email' 'form_phone' 'form_desire'
			'form_objective' 'form_url' 'form_optin' 'form_button';
		@media (min-width: 480px) and (max-width: 767px) {
			max-width: 445px;
		}
		@media (min-width: 768px) {
			max-width: 800px;
			grid-template-columns: 50% 50%;
			grid-template-areas: 'form_interest form_interest'
				'form_name form_company' 'form_email form_phone'
				'form_desire form_objective' 'form_url form_url'
				'form_optin form_optin' 'form_button form_button';
			.form_name,
			.form_company,
			.form_interest,
			.form_email,
			.form_phone,
			.form_desire,
			.form_objective,
			.form_url,
			.form_optin {
				padding: 0 20px;
			}
		}
	}
	label {
		display: block;
		margin-top: 25px;
		font-weight: 100;
		span {
			padding-left: 10px;
			font-size: 18px;
			color: $contrast_colour;
		}
	}
	input,
	textarea {
		display: block;
		width: 100%;
		padding: 15px;
		border: 1px solid #e0e0e0;
		outline: none;
		border-radius: 5px;
		margin: 0px;
		margin-top: 15px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 16px;
		font-weight: 100;
		background-color: #fff;
	}

	textarea {
		resize: vertical;
	}

	.radio_options {
		margin-top: 0px;
		span {
			font-weight: 100;
		}
	}

	.checkbox_options {
		margin-top: 0px;
		display: grid;
		grid-gap: 10px;
		grid-column: col 3 / span 2;
		grid-row: row 1;
		grid-template-columns: 50px auto;
		grid-template-rows: auto;
		.service_icon {
			grid-column: 1;
			grid-row: 1;
		}
		.optin {
			padding-top: 13px;
		}
		span {
			font-weight: 100;
			grid-column: 2;
			grid-row: 1;
		}
	}

	.radio {
		display: inline;
		width: 40px;
		margin-left: 20px;
	}

	.form_button {
		width: 200px;
		margin: auto;
		margin-top: 60px;
	}

	button {
		width: 100%;
		font-size: 16px;
		padding: 15px;
		/* margin: auto; */
		outline: 0;
		border: 1px solid #fb7615;
		border-radius: 5px;
		background-color: #fb7615;
		color: #fff;
		cursor: pointer;
		&:hover {
			background-color: $contrast_colour;
			border: 1px solid $contrast_dark;
			color: #fff;
		}
	}
}

.error-message {
	color: red;
	font-size: 14px;
	padding-left: 10px;
	padding-top: 10px;
}

.footer {
	background-color: #292929;
	h4 {
		text-align: center;
		color: #fff;
		padding: 50px 0px;
		font-weight: 100;
		font-size: 25px;
	}
	.footer-menu {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: auto;
		grid-template-rows: auto;
		padding: 40px 0px 90px 20px;
		@media (min-width: 480px) and (max-width: 767px) {
			grid-template-columns: auto auto;
		}
		@media (min-width: 768px) {
			grid-template-columns: auto auto auto auto;
		}
	}

	h3 {
		color: #fff;
	}
	ul {
		padding: 20px 0px 50px;
		li {
			color: #fff;
			line-height: 26px;
			font-weight: 100;
		}
	}
	.f1 .contact_box {
		@media (min-width: 768px) {
			width: 165px;
		}
	}

	.f2 .contact_box {
		@media (min-width: 768px) {
			width: 165px;
		}
	}

	.f3 .contact_box {
		@media (min-width: 768px) {
			width: 165px;
		}
	}

	.contact_box {
		width: 225px;
		margin: auto;
	}
	p {
		text-align: center;
		color: #fff;
		font-weight: 100;
		padding: 10px;
		font-size: 12px;
	}
}

.social {
	display: flex;
	padding-top: 20px;

	div {
		margin-right: 15px;
	}
}

// Lead Pages

body.lead {
	display: grid;
	grid-auto-columns: auto;
	grid-template-rows: 50px 200px 200px 200px 200px 200px;
	// grid-gap: 1px;
	/* default layout for mobile */
	grid-template-areas: 'lead_header' 'lead_header_image'
		'lead_title' 'lead_outcome' 'lead_video' 'lead_approach';
	margin: 0px;
	padding: 0px;

	li.top_left_link {
		margin-right: auto;
	}

	li.business_name {
		margin-right: 10px;
	}

	div.tab_header {
		display: block;
	}
}

.lead_header {
	grid-area: lead_header;
	background-color: $bg_colour;
	border-bottom: 1px solid $light_grey;
}
.lead_header_image {
	grid-area: lead_header_image;
	background-color: red;
}
.lead_title {
	grid-area: lead_title;
	background-color: green;
}
.lead_outcome {
	grid-area: lead_outcome;
	background-color: blue;
}
.lead_video {
	grid-area: lead_video;
	background-color: pink;
}
.lead_approach {
	grid-area: lead_approach;
	background-color: orange;
}
