// Colours
$bg_colour: #fff;
$brand_primary: rgb(207, 252, 124);
$brand_secondary: orange;
$dark_grey: #292929;
$middle_grey: #b6b6b6;
$light_grey: #e0e0e0;
$text_colour: #343434;

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat";
	outline: 0;
	text-decoration: none;
	border: 0;
	color: $text_colour;
}

body {
	display: grid;
	height: 100vh;
	grid-auto-columns: auto;
	grid-auto-rows: auto;
	grid-gap: 1px;
	background-color: #3e78af;
	/* default layout for mobile */
	grid-template-areas: 'header' 'one' 'p1' 'two' 'p2' 'three' 'p3'
		'four' 'p4' 'five' 'p5' 'six' 'p6' 'pitch';
	margin: 0px;
	padding: 0px;
}

/* just for cleaarer display */
div {
	background-color: #c2c5ff;
	text-align: center;
}

.header {
	grid-area: header;
	background-color: $bg_colour;
	text-align: center;
}

.one {
	grid-area: one;
	cursor: pointer;
}

.two {
	grid-area: two;
	cursor: pointer;
}

.three {
	grid-area: three;
	cursor: pointer;
}

.four {
	grid-area: four;
	cursor: pointer;
}

.five {
	grid-area: five;
	cursor: pointer;
}

.six {
	grid-area: six;
	cursor: pointer;
}

.p1 {
	grid-area: p1;
	z-index: 1;
}

.p2 {
	grid-area: p2;
	z-index: 1;
}

.p3 {
	grid-area: p3;
	z-index: 1;
}

.p4 {
	grid-area: p4;
	z-index: 1;
}

.p5 {
	grid-area: p5;
	z-index: 1;
}

.p6 {
	grid-area: p6;
	z-index: 1;
}

.pitch {
	grid-area: pitch;
	background-color: $light_grey;
	text-align: center;
	z-index: 0;
}

.work_form {
	grid-area: work_form;
	background-color: $dark_grey;
	text-align: center;
	color: $light_grey;
}

.footer {
	grid-area: footer;
	background-color: #000;
	text-align: center;
	color: $light_grey;
}

@media (max-width: 479px) {
	body {
		grid-template-areas: 'header' 'pitch' 'one' 'p1' 'two' 'p2'
			'three' 'p3' 'four' 'p4' 'five' 'p5' 'six' 'p6'
			'work_form' 'footer';
		grid-auto-rows: 50px 500px 200px auto 200px auto 200px auto
			200px auto 200px auto 200px auto 100px 20px;
	}

	.p1,
	.p2,
	.p3,
	.p4,
	.p5,
	.p6 {
		display: none;
		height: 0px;
	}
	.active {
		display: block;
		min-height: 400px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	body {
		grid-template-areas: 'header header' 'pitch pitch' 'one two'
			'top-content top-content' 'three four'
			'middle-content middle-content' 'five six'
			'bottom-content bottom-content' 'work_form work_form'
			'footer footer';
		grid-auto-rows: 50px 500px 300px auto 300px auto 300px auto
			100px 20px;
	}

	.p1,
	.p2 {
		grid-area: top-content;
		display: none;
		height: 0px;
	}

	.p3,
	.p4 {
		grid-area: middle-content;
		display: none;
		height: 0px;
	}

	.p5,
	.p6 {
		grid-area: bottom-content;
		display: none;
		height: 0px;
	}

	.active {
		display: block;
		min-height: 400px;
	}
}

@media (min-width: 767px) {
	body {
		grid-template-columns: 300px auto;
		grid-template-areas: 'header content' 'one content'
			'two content' 'three content' 'four content'
			'five content' 'six content' 'work_form work_form'
			'footer footer';
		grid-template-rows: 50px auto auto auto auto auto auto 100px
			20px;
	}

	.p1,
	.p2,
	.p3,
	.p4,
	.p5,
	.p6,
	.pitch {
		grid-area: content;
		display: none;
		height: 0px;
	}

	/* All of them stack at the same space. need to only show one, e.g. only p1 */
	.active {
		display: block;
		height: 100vh;
	}
}

// App Styles

ul {
	padding: 0;
	list-style: none;
}

.navbar {
	display: flex;
	align-items: flex-start;
}

.logo {
	margin-left: 10px;
	img {
		height: 35px;
		margin-top: 7px;
	}
}

.business_name {
	// align-self: flex-start;
	line-height: 50px;
	font-weight: 100;
	margin-left: 5px;
	margin-right: auto;
	font-size: 14px;
}

.author {
	line-height: 54px;
	font-weight: 100;
	margin-right: 10px;
}
