// Colours
$bg_colour: #fff;
$brand_primary: rgb(207, 252, 124);
$brand_secondary: orange;
$dark_grey: #292929;
$middle_grey: #b6b6b6;
$light_grey: #e0e0e0;
$text_colour: #343434;

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat";
	outline: 0;
	text-decoration: none;
	border: 0;
	color: $text_colour;
}

body {
	display: grid;
	grid-auto-columns: auto;
	grid-auto-rows: auto;
	// grid-gap: 1px;
	/* default layout for mobile */
	grid-template-areas: 'header' 'one' 'p1' 'two' 'p2' 'three' 'p3'
		'four' 'p4' 'five' 'p5' 'six' 'p6' 'pitch';
	margin: 0px;
	padding: 0px;
}

.header {
	grid-area: header;
	background-color: $bg_colour;
	border-bottom: 1px solid $light_grey;
}

.one {
	grid-area: one;
	cursor: pointer;
}

.two {
	grid-area: two;
	cursor: pointer;
}

.three {
	grid-area: three;
	cursor: pointer;
}

.four {
	grid-area: four;
	cursor: pointer;
}

.five {
	grid-area: five;
	cursor: pointer;
}

.six {
	grid-area: six;
	cursor: pointer;
}

.p1 {
	grid-area: p1;
	z-index: 1;
}

.p2 {
	grid-area: p2;
	z-index: 1;
}

.p3 {
	grid-area: p3;
	z-index: 1;
}

.p4 {
	grid-area: p4;
	z-index: 1;
}

.p5 {
	grid-area: p5;
	z-index: 1;
}

.p6 {
	grid-area: p6;
	z-index: 1;
}

.pitch {
	grid-area: pitch;
	z-index: 0;
}

.work_form {
	grid-area: work_form;
	background-color: $dark_grey;
	color: $light_grey;
}

.footer {
	grid-area: footer;
	background-color: #000;
	color: $light_grey;
}

@media (max-width: 479px) {
	body {
		grid-template-areas: 'header' 'pitch' 'one' 'p1' 'two' 'p2'
			'three' 'p3' 'four' 'p4' 'five' 'p5' 'six' 'p6'
			'work_form' 'footer';
		grid-auto-rows: 50px minmax(400px, auto) 75px auto 75px auto
			75px auto 75px auto 75px auto 75px auto 100px 20px;
	}

	.p1,
	.p2,
	.p3,
	.p4,
	.p5,
	.p6 {
		display: none;
		height: 0px;
	}
	.active {
		display: block;
		min-height: 400px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	body {
		grid-template-areas: 'header header' 'pitch pitch' 'one two'
			'top-content top-content' 'three four'
			'middle-content middle-content' 'five six'
			'bottom-content bottom-content' 'work_form work_form'
			'footer footer';
		grid-auto-rows: 50px minmax(400px, auto) 150px auto 150px auto
			150px auto 100px 20px;
	}

	.p1,
	.p2 {
		grid-area: top-content;
		display: none;
		height: 0px;
	}

	.p3,
	.p4 {
		grid-area: middle-content;
		display: none;
		height: 0px;
	}

	.p5,
	.p6 {
		grid-area: bottom-content;
		display: none;
		height: 0px;
	}

	.active {
		display: block;
		min-height: 400px;
	}
}

@media (min-width: 768px) {
	body {
		grid-template-columns: 230px auto;
		grid-template-areas: 'header content' 'one content'
			'two content' 'three content' 'four content'
			'five content' 'six content' '... content'
			'work_form work_form' 'footer footer';
		grid-template-rows: 50px 90px 90px 90px 90px 90px 90px auto
			100px 20px;
	}

	.p1,
	.p2,
	.p3,
	.p4,
	.p5,
	.p6,
	.pitch {
		grid-area: content;
		display: none;
		height: 0px;
	}

	/* All of them stack at the same space. need to only show one, e.g. only p1 */
	.active {
		display: block;
		height: 100%;
	}
}

// App Styles

ul {
	padding: 0;
	list-style: none;
}

.navbar {
	display: flex;
	align-items: flex-start;
}

.logo {
	margin-left: 10px;
	img {
		height: 35px;
		margin-top: 7px;
	}
}

.business_name {
	// align-self: flex-start;
	line-height: 50px;
	font-weight: 100;
	margin-left: 5px;
	margin-right: auto;
	font-size: 14px;
}

// .author {
// 	line-height: 54px;
// 	font-weight: 100;
// 	margin-right: 10px;
// }

.top_right_link {
	line-height: 54px;
	font-weight: 100;
	margin-right: 10px;
}

.toggle {
	display: flex;
	flex-wrap: wrap;
	background-color: $bg_colour;
	// border-bottom: 1px solid $light_grey;
	line-height: 85px;
	@media (min-width: 480px) and (max-width: 767px) {
		line-height: 160px;
	}
	@media (min-width: 768px) {
		line-height: 90px;
	}
	.icon {
		width: 80px;
		@media (min-width: 480px) and (max-width: 767px) {
			width: 70px;
		}
		@media (min-width: 768px) {
			width: 90px;
		}
		i {
			padding-left: 20px;
			font-size: 35px;
			@media (min-width: 480px) and (max-width: 767px) {
				padding-left: 15px;
				font-size: 40px;
			}
			@media (min-width: 768px) {
				font-size: 45px;
			}
		}
	}
	span {
		font-weight: 100;
		flex-grow: 1;
		font-size: 32px;
		@media (min-width: 480px) and (max-width: 767px) {
			font-size: 35px;
		}
		@media (min-width: 768px) {
			font-size: 26px;
		}
	}
}

.tab_header {
	height: 50px;
	p {
		text-align: right;
	}
}

.the_pitch {
	background: url('./images/the_pitch.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
	@media (min-width: 768px) {
		height: 950px;
	}
	.top_right_link {
		padding-top: 8px;
	}
	.contact {
		background-color: rgba(250, 50, 37, 0.85);
		padding: 10px 20px;
		border: 3px solid white;
		border-radius: 50px 16px;
		cursor: pointer;
		color: $bg_colour;
		font-weight: 400;
	}
	h1 {
		text-align: center;
		padding: 40px 20px 50px;
		font-weight: 400;
		font-size: 24px;
		max-width: 400px;
		margin: auto;
		line-height: 30px;
		@media (min-width: 768px) {
			font-size: 32px;
			max-width: 525px;
			padding: 100px 20px 75px;
			line-height: 42px;
		}
	}
	h3 {
		text-align: center;
		font-weight: 100;
		padding: 0 20px;
		max-width: 400px;
		margin: auto;
		line-height: 25px;
		@media (min-width: 768px) {
			font-size: 21px;
			max-width: 525px;
		}
	}
}

.our_clients {
	h4 {
		font-size: 28px;
		font-weight: 100;
		text-align: center;
		padding: 80px 20px 40px;
		@media (min-width: 480px) and (max-width: 767px) {
			padding: 100px 20px 60px;
		}
		@media (min-width: 768px) {
			font-size: 35px;
		}
	}

	.client_logos {
		display: flex;
		flex-flow: nowrap;
		justify-content: space-around;
	}

	.client_logo {
		color: $text_colour;
		font-size: 50px;
		text-align: center;
		flex: 1 1 auto;
		margin: 2px;
		@media (min-width: 480px) and (max-width: 767px) {
			font-size: 75px;
		}
		@media (min-width: 768px) {
			font-size: 35px;
		}
	}
}

svg {
	width: 35px !important;
	height: 85px !important;
	padding-left: 10px;
	@media (min-width: 480px) and (max-width: 767px) {
		width: 40px !important;
		height: 160px !important;
		padding-left: 15px;
	}
	@media (min-width: 768px) {
		width: 45px !important;
		height: 90px !important;
		padding-left: 20px;
	}
}
