body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
  outline: 0;
  text-decoration: none;
  border: 0;
  color: #343434;
}

body {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  /* default layout for mobile */
      grid-template-areas: 'header' 'one' 'p1' 'two' 'p2' 'three' 'p3' 'four' 'p4' 'five' 'p5' 'six' 'p6' 'pitch';
  margin: 0px;
  padding: 0px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.one {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: one;
  cursor: pointer;
}

.two {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: two;
  cursor: pointer;
}

.three {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: three;
  cursor: pointer;
}

.four {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: four;
  cursor: pointer;
}

.five {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: five;
  cursor: pointer;
}

.six {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
  grid-area: six;
  cursor: pointer;
}

.p1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: p1;
  z-index: 1;
}

.p2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: p2;
  z-index: 1;
}

.p3 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: p3;
  z-index: 1;
}

.p4 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: p4;
  z-index: 1;
}

.p5 {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: p5;
  z-index: 1;
}

.p6 {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  grid-area: p6;
  z-index: 1;
}

.pitch {
  -ms-grid-row: 14;
  -ms-grid-column: 1;
  grid-area: pitch;
  z-index: 0;
  border-left: 1px solid #e0e0e0;
}

.work_form {
  grid-area: work_form;
  background-color: #292929;
  color: #e0e0e0;
}

.footer {
  grid-area: footer;
  background-color: #000;
  color: #e0e0e0;
}

@media (max-width: 479px) {
  body {
        grid-template-areas: 'header' 'pitch' 'one' 'p1' 'two' 'p2' 'three' 'p3' 'four' 'p4' 'five' 'p5' 'six' 'p6' 'work_form' 'footer';
    grid-auto-rows: 50px auto 75px auto 75px auto 75px auto 75px auto 75px auto 75px auto 100px 20px;
  }
  .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6 {
    display: none;
    height: 0px;
  }
  .active {
    display: block;
    height: auto;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  body {
        grid-template-areas: 'header header' 'pitch pitch' 'one two' 'top-content top-content' 'three four' 'middle-content middle-content' 'five six' 'bottom-content bottom-content' 'work_form work_form' 'footer footer';
    grid-auto-rows: 50px minmax(400px, auto) 150px auto 150px auto 150px auto 100px 20px;
  }
  .p1,
  .p2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: top-content;
    display: none;
    height: 0px;
  }
  .p3,
  .p4 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: middle-content;
    display: none;
    height: 0px;
  }
  .p5,
  .p6 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: bottom-content;
    display: none;
    height: 0px;
  }
  .active {
    display: block;
    height: auto;
  }
}

@media (min-width: 768px) {
  body {
    -ms-grid-columns: 230px auto;
        grid-template-columns: 230px auto;
        grid-template-areas: 'header content' 'one content' 'two content' 'three content' 'four content' 'five content' 'six content' '... content' 'work_form work_form' 'footer footer';
    -ms-grid-rows: 50px 90px 90px 90px 90px 90px 90px auto 100px 20px;
        grid-template-rows: 50px 90px 90px 90px 90px 90px 90px auto 100px 20px;
  }
  .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6,
  .pitch {
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    -ms-grid-column: 2;
    grid-area: content;
    display: none;
    height: 0px;
  }
  /* All of them stack at the same space. need to only show one, e.g. only p1 */
  .active {
    display: block;
    height: auto;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  margin-left: 10px;
  height: 35px;
  margin-top: 7px;
}

.business_name {
  line-height: 50px;
  font-weight: 100;
  margin-left: 5px;
  margin-right: auto;
  font-size: 14px;
}

.top_right_link {
  line-height: 54px;
  font-weight: 100;
  margin-right: 10px;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  line-height: 85px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .toggle {
    line-height: 160px;
  }
}

@media (min-width: 768px) {
  .toggle {
    line-height: 90px;
  }
}

.toggle .icon {
  width: 80px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .toggle .icon {
    width: 70px;
  }
}

@media (min-width: 768px) {
  .toggle .icon {
    width: 90px;
  }
}

.toggle .icon i {
  padding-left: 20px;
  font-size: 35px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .toggle .icon i {
    padding-left: 15px;
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .toggle .icon i {
    font-size: 45px;
  }
}

.toggle span {
  font-weight: 100;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 32px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .toggle span {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .toggle span {
    font-size: 26px;
  }
}

.toggle svg {
  width: 35px !important;
  height: 85px !important;
  padding-left: 10px;
  fill: #969696 !important;
}

@media (min-width: 480px) and (max-width: 767px) {
  .toggle svg {
    width: 40px !important;
    height: 160px !important;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .toggle svg {
    width: 45px !important;
    height: 90px !important;
    padding-left: 20px;
  }
}

.tab_header {
  height: 50px;
}

.tab_header p {
  text-align: right;
}

.the_pitch {
  background: url("./images/the_pitch.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

@media (min-width: 768px) {
  .the_pitch {
    height: 950px;
  }
}

.the_pitch .top_right_link {
  padding-top: 8px;
}

.the_pitch .contact {
  background-color: rgba(250, 50, 37, 0.85);
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 50px 16px;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}

.the_pitch h1 {
  text-align: center;
  padding: 40px 20px 50px;
  font-weight: 400;
  font-size: 24px;
  max-width: 400px;
  margin: auto;
  line-height: 30px;
}

@media (min-width: 768px) {
  .the_pitch h1 {
    font-size: 32px;
    max-width: 525px;
    padding: 100px 20px 75px;
    line-height: 42px;
  }
}

.the_pitch h3 {
  text-align: center;
  font-weight: 100;
  padding: 0 20px;
  max-width: 400px;
  margin: auto;
  line-height: 25px;
}

@media (min-width: 768px) {
  .the_pitch h3 {
    font-size: 21px;
    max-width: 525px;
  }
}

.our_clients {
  background-color: #f9eeee;
}

.our_clients h4 {
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding: 80px 20px 40px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .our_clients h4 {
    padding: 80px 20px 60px;
  }
}

@media (min-width: 768px) {
  .our_clients h4 {
    font-size: 35px;
    padding: 100px 20px 60px;
  }
}

.our_clients h5 {
  display: none;
  font-weight: 100;
  text-align: center;
  width: 120px;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .our_clients h5 {
    display: block;
    line-height: 20px;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .our_clients h5 {
    display: block;
    line-height: 25px;
    font-size: 18px;
  }
}

.our_clients .client_logos {
  width: 385px;
  margin: auto;
}

@media (min-width: 480px) and (max-width: 767px) {
  .our_clients .client_logos {
    width: 450px;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .our_clients .client_logos {
    width: 520px;
  }
}

@media (min-width: 1101px) {
  .our_clients .client_logos {
    width: 800px;
  }
}

.our_clients .client_logo {
  width: 80px;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1100px) {
  .our_clients .client_logo {
    width: 100px;
  }
}

@media (min-width: 1101px) {
  .our_clients .client_logo {
    width: 150px;
  }
}

.our_clients ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-bottom: 80px;
}

.our_clients li {
  width: 25%;
}

.our_clients img {
  width: 100%;
  margin: auto;
}

.why_xenus h4 {
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  padding: 80px 20px 40px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .why_xenus h4 {
    padding: 100px 20px 60px;
  }
}

@media (min-width: 768px) {
  .why_xenus h4 {
    font-size: 35px;
  }
}

.why_xenus h5 {
  text-align: center;
  font-weight: 100;
  font-size: 16px;
}

.why_xenus ul {
  display: inline-block;
  width: 100%;
}

.why_xenus li {
  margin-top: 25px;
}

.why_xenus .why_points {
  margin-top: 50px;
  width: 340px;
  margin: 50px auto;
}

.why_xenus .why_points img {
  margin-left: 10px;
  height: 50px;
  float: left;
}

.why_xenus .why_points h5 {
  line-height: 50px;
  font-weight: 100;
  margin-left: 90px;
  font-size: 22px;
  text-align: left;
}

.toogle-content {
  background-color: #fff;
  border-left: 1px solid #e0e0e0;
  padding-bottom: 50px;
}

.toogle-content .toggle-header {
  background: url("/images/media.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .toogle-content .toggle-header {
    height: 400px;
  }
}

.toogle-content .icon {
  width: 120px;
  margin: auto;
}

.toogle-content svg.header_icon {
  width: 90px !important;
  height: 300px !important;
  fill: #fff;
}

@media (min-width: 768px) {
  .toogle-content svg.header_icon {
    height: 400px !important;
  }
}

.toogle-content h2 {
  font-size: 45px;
  text-align: center;
  font-weight: 100;
  margin-top: 25px;
}

.toogle-content p.sub_title {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}

.toogle-content p.sub_description {
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  max-width: 960px;
  padding: 0 32px;
  margin: auto;
  margin-top: 50px;
}

.toogle-content p.sub_description.about {
  text-align: left;
}

.toogle-content svg.svg_icon {
  height: 45px !important;
  padding: 0px;
}

.toogle-content .toggle {
  line-height: 45px;
  margin-top: 50px;
  width: 385px;
  margin: auto;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-column: col 3 / span 2;
  grid-row: row 2;
  -ms-grid-columns: 100px auto;
      grid-template-columns: 100px auto;
  -ms-grid-rows: 45px auto;
      grid-template-rows: 45px auto;
}

@media (min-width: 480px) and (max-width: 767px) {
  .toogle-content .toggle {
    width: 465px;
  }
}

@media (min-width: 768px) {
  .toogle-content .toggle {
    width: 520px;
  }
}

@media (min-width: 1100px) {
  .toogle-content .toggle {
    width: 720px;
  }
}

.toogle-content .service_icon {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding-left: 32px;
}

.toogle-content .service_heading {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.toogle-content .service_description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  -ms-grid-row: 2;
  grid-row: 2;
  line-height: 25px;
  font-weight: 100;
  font-size: 16px;
  padding: 0 32px;
}

@media (min-width: 768px) {
  .toogle-content .service_description {
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 0px;
  }
}

.toogle-content h3 {
  font-weight: 100;
  font-size: 22px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .toogle-content h3 {
    font-size: 26px;
  }
}

@media (min-width: 768px) {
  .toogle-content h3 {
    font-size: 26px;
  }
}

.toogle-content a {
  font-weight: 100;
  font-size: 20px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .toogle-content a {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .toogle-content a {
    font-size: 24px;
  }
}

.toogle-content .partners_list {
  list-style-type: disc;
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */